*{
margin:0;
padding:0;
}
.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #2b3030;
}

.navbar li {
float: right;
font-family: 'Montserrat', sans-serif;
}

.navbar li a {
display: inline-block;
color: white;
text-align: center;
padding: 17px 14px;
text-decoration: none;
}

.navbar li a:hover {
background-color:  #0087a1;
}
#end{
margin-right: 15px;
}

#logo{
margin-left: 2%;
float: left;
margin-top: 0%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
.Dropdown{
  font-weight: bold;
  font-size: 18px;
  padding:10px;
}
option.head {
  selected:selected;
  display:none;
  disabled:disabled;
  font-size: 18px;
  font-weight: bold;
  background-color: #0087a1;
  width: 100px;
  height: 10px;
}
.filter_text{
  display:inline-block;
}
input[type=text] {
  padding: 6px;
  border-color: Black;
  height: 10px;
  margin-top: 3px;
  margin-right: 16px;
  font-size: 15px;
}
.btn1{
  background-color: white;
}
.btn1:hover{
  background-color:white;
  color: Black;
  border: 3px solid Black;
}
.btn1:active{
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.container-table{
  padding: 6px 6px;
  overflow: hidden;

}
.table{
  table-layout: fixed;
  width: 92%;
  border-collapse:collapse;
  min-width: 300px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

}
.tableheading{
  background-color: rgb(0,135,161);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.table th,td{
  padding: 10px 10px;
}
.table tbody tr{
  border-bottom: 2px solid #ddd;
  border-left: 3px solid rgb(0,135,161);
  border-right: 4px solid rgb(0,135,161);
}
.table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid rgb(0,135,161);
}
.Row{
  color: Black;
  font-size: 15px;
  width:100%;
}
.actions li{
  display: inline;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
}
.btn{
background-color: Black;
color:white;
padding: 8px;
border:2px solid white;
border-radius:50%;
transition-duration: 0.4s;
align-items: center;
}
.btn:hover{
  background-color:white;
  color: Black;
  border: 3px solid Black;
}
.btn:active{
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.new{
  display: inline-block;
  float: right;
}
.create {
  background-color: #ffffff;
  overflow: hidden;
  padding-left: 60px;
}
.add-text{
  font-size: 15px;
  padding-right: 20px;
}
footer{
  background-color: #2b3030;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.column4 {
float: left;
width: 50%;
padding: 10px 10px;
}
.row4 {
margin: 0 -5px;
width:60%;}

.row4:after {
content: "";
display: table;
clear: both;
}
.footerText{
color:white;
font-family: Arial, Helvetica, sans-serif;
}
.row4 .fa {
padding: 25px;
font-size: 30px;
width: 10px;
text-align: center;
text-decoration: none;
border-radius: 50%;
color:white;
}


  /*table css start*/
  
  .table-hub-time-head{
       text-align: center;
  }
  .table-hub{
       table-layout: fixed;
       width: 100%;
       border-collapse:collapse;
       min-width: 400px;
       border-radius: 5px 5px 0 0;
       overflow: hidden;
       
  }
  .table-hub thead tr{
       background-color: #0087a1;
       color: white;
       text-align: left;
       font-weight: bold;
  }
  .table-hub td,.table-hub th{
       padding: 12px 15px;
  }
  .table-hub tbody tr{
       border-bottom: 1px solid #dddddd;
  }
  .table-hub tbody tr:nth-of-type(even){
       background-color: #f3f3f3;
  }
  .table-hub tbody tr:last-of-type{
       border-bottom: 2px solid #0087a1;
  }
  /* table-hub-appoint is dedicated fot appointment tables
     table-hub-time is for the unordered lists inside appointment tables
     tabl-hub-owner fot hopital names in appointment tables*/
  .table-hub-appoint{
       font-weight: bold;
       font-size: 20px;
  }
  .table-hub-time{
       padding-inline-start: 0;
       width: fit-content;
  }
  
  .table-hub ul{
       background-color: inherit;
  }
  
  .table-hub-owner{
       width: 150px;
  }
  .table-hub-time li{
       display: inline;
       text-align: left;
       margin: 0 2px 0 2px;
       padding: 0 2px 0 2px;
  }
  .table-hub-time li a{
       text-decoration: none;
  }
  .table-hub-time li a:link{
       color: red;
  }
  .table-hub-time li a:visited{
       color: red;
  }
  .table-hub-time li a:hover{
       color: black;
  }
  .table-hub-time li a:active{
       color: blue;
  }
  
  @media(max-width: 540px) {
       .table-hub{
  
       }
       .table-hub thead{
            display: none;
       }
       .table-hub, .table-hub tbody, .table-hub tr, .table-hub td{
            display: block;
            width: 100%;
       }
       .table-hub td{
            align-items: center;
            text-align: center;
            margin: 5px;
            position: relative;
       }
  }
  
  
  /*table css end*/
  
  /*modal css start*/
  
  
#popUp{
  border:0px;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 20px;
  width:15%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  background-color:  #0087a1;
  line-height: 3;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#popUp:hover {
  background-color: white;
  color:black;
  text-shadow:none;
}

#popUp:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
h3{
  font-family: 'Spartan',sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
table{
  width:95%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}
th, td {
  text-align: center;
  padding: 18px;
}
/*tr:nth-child(even) {
  background-color: #f2f2f2;
}*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  max-width: 60%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tablecont{
  padding: 30px 30px 30px 30px;
}

/*modal css end*/

.Dropdown{
    width:90%;
    background-color: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  padding:10px;
}


.filters{
    height:35px;
    width:40%;
    margin-bottom: 10px;
    margin-left:5%;
    float:left;
 
}

 .textt{
      width:40%;
      margin-top: 5px;
      margin-left: 10px;
      height:35px;
  }
    hr{
  width:90%;
  text-align: center;
  border-top: 1px solid;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.result{
    margin-top: 55px;
}
.resultheading{
    line-height:40px;
}

.style {
  border:0px;
  margin-top :13px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color:  #0087a1;
  line-height: 2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.style:hover {
  background-color: white;
  color:black;
  text-shadow:none;
}

.style:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.ok{
    line-height: 40px;
    width:15%;
}

.accept{
    line-height: 45px;
    margin-top: 5px;
    width:25%;
}

.chanel{
    width:15%;
    line-height: 45px;
}

.datatd{
    width:100%;
    text-align: center;
}

.selectpayment{
          width:55%;
      margin-top: 5px;
      margin-left: 10px;
      height:35px;
    
}
.selectpatient{
      width:45%;
      margin-top: 5px;
      margin-left: 10px;
      height:35px;
    
}
