
#innerBox{
  margin-top: 30px;
  background-color:#f5f5f5;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 2000px;
}
h3{
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  padding-top: 20px;
}

.styled {
    border:0px;
    margin-left: 86%;
    margin-right: 15px;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    background-color:  #0087a1;
    line-height: 3;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: white;
    color:black;
    text-shadow:none;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.image{
  width: 30%;
  float: left;
  padding-right: 8%;
}
.description{
  padding-top: 12%;
}

.fill{
  margin-top: -10px;
  margin-left: 99%;
  width:3%;
}
.card{
    padding-top:45px;
    padding-bottom: 40px;
}
svg{
    cursor: pointer;
}
button{
    cursor:pointer;
}